*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    --background-url: url('../images/bg-pattern-mobile.svg');
    --f-size-title: 2.8em;
    --f-size-text: 1.1rem;
    --margin-top-image: 0;
}