@import 'variables', 'functions', 'reset';

.wrapper{
    width: 100%;
    min-height: 100vh;
    background: color(pr-gradient-bckg-soft-blue);
    display: grid;
    place-items: center;
    place-content: center;
}

.container{
    padding: 2em;
}


.card{
    position: relative;
    background: color(nt-card-background);
    border-radius: 20px;
    background-image: var(--background-url); 
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: top center;
    padding-inline: 2em;
    padding-bottom: 4em;
    padding-top: 28vw;
    margin-top: 40%;
    margin-bottom: 4em;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.253);
    
    .card__image{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -55%);
        width: 75%;
        height: auto;
    }

    .image__box{
        display: none;
    }
}

.card__content{
    
    .card__title{
        font-size: var(--f-size-title);
        text-align: center;
        margin-block: 1em;
        color: color(pr-text-very-dark-blue);

    }

    .question{
        font-size: var(--f-size-text);
        line-height: 1.5;
        position: relative;
        color: color(nt-dark-grayish-blue);
        font-weight: 400;

        &::after{
            content: '';
            position: absolute;
            height: 1px; 
            bottom: 0;
            left: 0;
            right: 0;
            background-color: color(dividers);
        }

        .question__q{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 1.2em;
            color: color(nt-very-dark-grayish-blue);

            &:hover{
                color: color(pr-text-soft-red);
                cursor: pointer;
            }
        }

        .bold{
            margin-bottom: .5em;
            font-weight: 700;
            color: color(pr-text-very-dark-blue);
        }

        .flip{
            transform: rotate(180deg);
        }

        .question__a{
            height: 0;
            transform: scaleY(0);
        }
        
        .appear{
            height: auto;
            transform: scaleY(1);
            padding-bottom: 1.2em;
        }
    }
}

@media (min-width: 600px){

    :root{
        font-size: 16px;
    }
}

@media (min-width: 800px){
    :root{
        font-size: 12px;
        --f-size-title: 2.6rem;
        --background-url: url('../images/bg-pattern-desktop.svg');
    }

    .container{
        padding-inline: 2em;

        @media (min-width: 1000px){
            padding-inline: 5em;
        }
        
    }

    .card{
        max-width: 920px;
        background-image: none;
        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: 1fr 1.3fr ;
        grid-template-rows: auto;
        padding: 0;
        margin: 0;

        .card__content{
            margin-bottom: 2em;
            padding: 5em 4em;

            @media (min-width: 1000px){
                padding: 5em 8em;
            }
            
            .card__title{
                margin-top: 0;
                margin-bottom: 1.2em;
                text-align: left;
            }
        }

        .card__image{
            background-image:  url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
            background-repeat: no-repeat, no-repeat;
            background-size: auto,  auto;
            background-position: right center, right bottom 35% ;
            width: 100%;
            height: 100%;
            position: relative;
            margin: 0;
            padding: 0;
            transform: translate(0, 0);
            left: 0;

            .image__woman{
                display: none;
            }

            .image__box{
                display: black;
                position: absolute;
                width: 50%;
                height: auto;
                top: 42%;
                left: -28%;
            }
        }
    
    }



}